@model List<ClientsDirectory.Models.ClientInfo>

@{
    ViewData["Title"] = "All Clients";
}

<h2 class="mt-3">All Clients</h2>
<a class="btn btn-primary mb-3" asp-action="AddClient">Add New Client</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Client ID</th>
            <th>Company Name</th>
            <th>Web URL</th>
            <th>Email</th>
            <th>Category</th>
            <th>Standard</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.ClientId</td>
                <td>@client.CompanyName</td>
                <td><a href="@client.WebUrl" target="_blank">@client.WebUrl</a></td>
                <td>@client.Email</td>
                <td>@client.Category</td>
                <td>@client.Standard</td>
            </tr>
        }
    </tbody>
</table>
